body{
    padding:15px
}
.filter-icon {
    position: absolute;
    top: 80px;
    right: 10px;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .filter-icon {
    width: 24px;
    height: 24px;
  }

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column ;

}

.button-search{
    position:absolute;
    height: 5vh;
    right: 70px;
    border: none;
    background-color: transparent;
}

.search-input{
    width: 70vw;
    height: 5vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
h1{
    width: 100vw ;
    height: 10vh;
    background-color: rgb(68, 0, 255);
    color: rgb(255, 255, 255);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 43vw;
    padding: 3px;
}
.card:hover{
    box-shadow: 0px 5px 5px rgba(77, 77, 77, 0.662);
}

.card img{
    width: 35vw ;
    height: 35vw;
    object-fit: cover;
}
.card a{
    text-decoration: none;
    color: white;
    
}

main{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}